/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2017, 10:29:01 PM
    Author     : Lovreone
*/

body {
    /* background-image: url("../images/gplaypattern.png"); */ /* For testing different repeat patterns */
    background-image: url("../images/grunge_wall.png");
    background-repeat: repeat; 
    margin-top: 60px; /* If header is fixed to the top - Bootstrap requirement */
    margin-bottom: 130px; /* # Depends on footer height - used so that content would not be hidden below footer on mobile resoulutions */
}

div.stylish-div-background {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #909090;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
    padding: 20px;
    margin: 70px auto 20px auto;
    min-height: 500px;
}

div.inner-div {
    padding-top: 30px;
    width: 90%;
    margin: auto;
}

div.pretty-form-bckg { /* Used on Login & Register page forms */
    background-color: #f9f9f9;
    border: 1px solid #909090;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #888888;
    min-height: 250px;
    margin-bottom: 100px;
}

div.centered-content { /* Used for Empty/Restricted page messages */
    padding-top: 60px; 
    text-align: center; 
    vertical-align: middle; 
}

div.footer, ul.padding-top {
    padding-top: 15px;
}

div.one-third { /* Three columns, use for 1/3 and 2/3 */
    padding: 15px;
    float: left;  
    width: 33.3%;
}

div.last-third { /* Three columns, use only for 3/3 */
    padding: 15px;
    float: left; 
    width: 33.4%;
}

div.clear { /* Three columns, use after 3/3 */
    clear: both;
}

div.s-bottom-spacing {
    margin-bottom: 10px;
}

div.custom-spacing-cart {
    padding: 10px 5px 0 5px;
}

form.pretty-form-padding { /* Used on Login page form */
    padding-top: 50px; 
}

span.no-padding { /* Bootstrap overide - Use for button icons without text */
    padding-right: 0px;
}

long-words-filter { 
    overflow:hidden; /* or overflow:scroll; - forses internal scroll inside a div */
}

textarea {
    resize: vertical;
}

/* 
Bootstrap overide:
Previously used to solve Home Slider bottom shadow issue, now seems unnecessary
.carousel-control { bottom: 25px; }
*/

ul.contact-items li {
    list-style: none;
    margin-left: -20px;
}

li.aligned-right { /* Bootstrap override - Used for Cart page items */
    text-align: right; 
}

h2.centered {
    text-align: center;
}

h4.cart { 
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4.padding-bottom {
    padding-bottom: 30px;
}

p.validation-error {
    color: red;
    font-size: 15px;
}

p.success-message {
    color: green;
    font-size: 15px;  
}

table.no-bottom-spacing {
    margin-bottom: 10px;
}

table.float-right {
    float: right;
}

.table>tbody>tr>td.vertical-center { /* Bootstrap override - Used for tables on Shop pages */
    vertical-align: middle;
}

td.aligned-right , th.aligned-right { /* Bootstrap override - For tables on Shop pages */
    text-align: right;
}

input.margin-offset {
    margin-bottom: 3px;
}

img.wrap-text { /* In case you need text to wrap around the image and look decent */
    margin: 0 20px 20px 0;
}

nav.header-shadow {
    box-shadow: 0px 5px 20px #888888;   
}

.glyphicon { /* Bootstrap override - Used for Contact us li items */
    padding-right: 10px; 
}